/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--text: hsl(0, 5%, 4%);
	--background: hsl(0, 25%, 98%);
	--primary: hsl(4, 38%, 50%);
	--secondary: hsl(4, 53%, 74%);
	--accent: hsl(3, 68%, 65%);
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	line-height: 1.6;
	background-color: var(--background);
	color: var(--text);
	display: flex;
	flex-direction: column;
}

.main-content {
	flex: 1;
	padding: 20px;
}

header {
	background-color: var(--primary);
	color: #fff;
	padding: 10px 0;
	text-align: center;
}

header h1 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header a {
	color: #fff;
	margin: 0 10px;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease, text-decoration 0.3s ease;
}

header a:hover {
	color: var(--secondary);
	text-decoration: underline;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
	list-style: none;
	padding: 0;
}

li {
	border-bottom: 1px solid var(--secondary);
	padding: 10px 0;
}

li:last-child {
	border-bottom: none;
}

strong {
	color: var(--text);
}

em {
	color: var(--secondary);
	font-style: italic;
}

/* Form styles */
form {
	margin: 20px 0;
}

label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

input[type='text'] {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid var(--secondary);
	border-radius: 4px;
}

button {
	display: inline-block;
	padding: 10px 15px;
	font-size: 16px;
	color: #fff;
	background-color: var(--primary);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: var(--accent);
}

a {
	color: var(--accent);
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
	color: var(--secondary);
	text-decoration: underline;
}

.new-message-button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 18px;
	color: #fff;
	background-color: var(--primary);
	border: none;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s ease, color 0.3s ease;
	margin: 20px auto;
	display: block;
}

.new-message-button:hover {
	background-color: hsl(4, 53%, 26%);
	color: #fff;
}

footer {
	text-align: center;
	padding: 20px;
	background-color: var(--primary);
	color: #fff;
}

footer a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease, text-decoration 0.3s ease;
}

footer a:hover {
	color: var(--secondary);
	text-decoration: underline;
}
